body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #20232a;
    color: white;
    overflow-x: hidden;
}

header {
    background-color:
    #1d1b20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #93c0cc;
}
.logos{
    height: 52px;
    width: 60px;
    border-radius: 50%;
    margin: 0px 0px 0px 27px;

}

nav {
    display: flex;
    gap: 20px;
   
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #61dafb;
}
.rightnav a {
    text-decoration: none;
    color: white;
    margin: 0px 0px 0px 20px;
}
.rightnav a:hover {
    color: #61dafb;
}
.search input::placeholder{

    padding-left: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #61dafb;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.main-section {
    text-align: center;
    padding: 50px 20px;
    height: 100vh;
}

.main-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    
}

.main-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.main-section .search {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    height: 54px;
}

.main-section .search input {
    width: 45%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
}
main{
    background:url('./img/background.jpg');
    background-size: cover;
    background-position: center;

}


.main-section .search button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #61dafb;
    color: #ffffffd3;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.main-section hr{
    margin-top: 30px;
    width:75%;
}
.landingPageSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landingPageSection  h1{
    font-size: 2rem;
    margin-left: 400px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2b303b;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: white;
    font-size: 0.9rem;
}